<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone Number Form</title>
</head>
<body>
    <form action="/" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="number">Phone Number:</label>
        <input type="text" id="number" name="number" required><br><br>

        <label for="floppa">Floppa - 10$</label>
        <input type="number" id="amount" name="amount" required><br><br>

        <button type="submit">Submit</button>
    </form>>
<title>My Application</title>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
</body>
</html>
